<p class="text-center" style="font-size:40px;"><b>LISTADO DE EMPLEADOS</b></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cargo</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Perfil</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Juan</td>
      <td>Cisneros</td>
      <td></td>
      <td>20/07/1970</td>
      <td><img scr="https://media-exp1.licdn.com/dms/image/C5603AQHM0OnYj_MLzw/profile-displayphoto-shrink_200_200/0/1517752401714?e=1632355200&v=beta&t=FDKRpew_Q5vtlo3pgWTe1UOI48Y8cYlJ1cb4thPjybo" class="rounded.float-left" alt="EMPLEADO1"  width="50" height="50"></td>
      <td><button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><p class="text-primary">Ver detalles EMPLEADO1</p></button>
      </td>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Juan Cisneros</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <p class="text-center">FELIZ CUMPLEAÑOS</p>
          <img scr="https://media.tenor.com/images/484e87da1a509d9cb97b9388b3ea1d49/tenor.gif" alt="CUMPLEAÑERO">
        </div>
      </div>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Roxana</td>
      <td>Vintimilla</td>
      <td></td>
      <td>11/12/1988</td>
      <td><img scr="https://media-exp3.licdn.com/dms/image/C4E03AQG8JtNvRzFUYA/profile-displayphoto-shrink_200_200/0/1548795441316?e=1632355200&v=beta&t=O2X-2nuAhqjfyN1c1jHM3Yoz54EKLXr1ftGErJIsyBA" alt="EMPLEADO2"  width="50" height="50"></td>
      <td><button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><p class="text-primary">Ver detalles EMPLEADO2</p></button></td>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Roxana Vintimilla</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          ...
        </div>
      </div>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Juan</td>
      <td>Vasques</td>
      <td></td>
      <td>20/07/1981</td>
      <td><img scr="https://media-exp1.licdn.com/dms/image/C5603AQEg3CwvuZ4saQ/profile-displayphoto-shrink_200_200/0/1516633256800?e=1632355200&v=beta&t=d6xnJAqJOhKh5Y4XW-nZl0zC1GkvTsEsFB2N_y27ypM" alt="EMPLEADO3"  width="50" height="50"></td>
      <td><button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><p class="text-primary">Ver detalles EMPLEADO3</p></button></td>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Juan Vasques</h5>

          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          ...
        </div>
      </div>
    </tr>
  </tbody>
</table>
