<div class="row">
  <app-cabecera></app-cabecera>
</div>
<div class="row">
  <div class="col-2">

  </div>
  <div class="col-8">
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <p class="card-text" class="text-center text-success" style="font-size:40px;"><i>EMPRESA IMPORTADORA TOMEBAMBA</i></p>
      </div>
    </div>
  </div>
  <div class="col-2">

  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
     <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col">

  </div>

</div>





