<div class="row">
  <div class="col">
<p style="font-size:20px;"><b>Nombre:</b><br>Importadora Tomebamba</p>
<p style="font-size:20px;"><b>Direccion:</b><br>Distribuidora Oficial de productos de primera necesidad para la vivienda</p>
<p style="font-size:20px;"><b>Descripcion:</b><br>25 de Junio Km 11/2</p>
<p style="font-size:20px;"><b>Telefono:</b><br>(07) 2982 - 631</p>
<p style="font-size:20px;"><b>Horarios:</b><br>Lun a Vie: 08:00 a 18:00 <br>Sab: 09:00 a 13:00</p>
</div>
<div class="row">
  <div class="col">

  </div>
  <div class="col">
    <img src="https://tomebamba.com.ec/assets/media/content/b-dealers-info/3.jpg" width="250" height="250" alt="IMPORTADORA TOMEBAMBA">
    <hr>
    <button type="button"  class="btn btn-light btn-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" routerLink="cabecera" routerLinkActive="active"><p class="text-primary">IMPORTADORA TOMEBAMBA</p></button>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <div class="row">
          <img src="https://tomebamba.com.ec/assets/media/general/logos_white.png" width="350" height="100" alt="IMPORTADORA TOMEBAMBA">

        </div>
        <div class="row">
          <a href="https://www.google.com/maps/place/Importadora+Tomebamba+S.A/@-3.2776688,-79.9380881,553m/data=!3m1!1e3!4m5!3m4!1s0x90330e1206ec5ca1:0x2cd8e6e96560062!8m2!3d-3.2774956!4d-79.9365251">UBICACION GOOGLE MAPS</a>
          <a href="https://tomebamba.com.ec/machala.html">PAGINA DE LA EMPRESA IMPORTADORA TOMEBAMBA</a>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small">
        ...
      </div>
    </div>
  </div>

  <div class="col">

  </div>
</div>

