<p class="text-center" style="font-size:40px;"><b>REGISTRO DE EMPLEADOS</b></p>
<hr>
<form>
  <div class="mb-3">
    <label for="text-primary" class="form-label">Codigo</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="text-primary" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="text-primary" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="text-primary" class="form-label">Cargo</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="text-primary" class="form-label">Fecha de Nacimiento</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="row">
    <button type="button"  class="btn btn-success btn-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" routerLink="cabecera" routerLinkActive="active">GUARDAR</button>
  </div>

</form>
